<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>same</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="/less/app.less" />
</head>

<body id="app">
    <h2>{{senses[0]["user"]["username"]}}<span class="user_profile">channels:{{profile.user.channels}}  senses:{{profile.user.senses}}</span></h2>
    <div class="row">
        <div v-for="items in senses" class="senses_div col-md-3">
            <p><span>{{items.channel.name}}</span><img class="user_icon" src="{{items.user.avatar}}" alt=""></p>
            <p><span class="sense_info"><span class="
glyphicon glyphicon-heart-empty"></span>{{items.likes}}</span>
            </p>
            <p><span>{{items.txt}}</span></p>
            <p v-show="items.media.sound">
                <audio controls>
                    <source src="{{items.media.sound.src}}" type="audio/ogg">
                </audio>
            </p>
            <p><img v-show="items.photo" class="sense_photo" src="{{items.photo}}" alt=""></p>
        </div>
    </div>
    <div id="something" style="display: none">
        {{ thing }}
    </div>
    <div id="profile" style="display: none">{{ profile }}</div>
    <!-- route outlet -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/less/2.7.1/less.min.js"></script>
    <script src="https://cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
    <script src="/js/user_senses.js"></script>
</body>

</html>
